[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = git://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/slimv"]
	path = .vim/bundle/slimv
	url = git://github.com/vim-scripts/slimv.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".powerline"]
	path = .powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
