[alias]
	c = commit -am
	up = pull
	p = push
	s = status -s
	df = diff --color --color-words --abbrev
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[apply]
	whitespace = fix
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
[color]
   ui = true
[color "branch"]
	current = 111 ; blueish
	local = 220 ; yellowish
	remote = 108 ; greenish
[color "diff"]
	meta = 247
	frag = white bold
	old = 167
	new = 41
[color "status"]
	added = 41
	changed = 43
	untracked = 247
[merge]
	log = true
   tool = vimdiff
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
[url "git@github.com:jpommerening/"]
  insteadOf = "git://github.com/jpommerening/"

[user]
  name = "Jonas Pommerening"
  email = "jonas@example.com"
